.navbar{
    background-image: url("nav.png");
   
  }
  
  .navbar>a{
      
  }
  
  .search-div{
      padding: 0px 9px;
      border: 1px solid rgb(232, 232, 232);
      border-radius: 12px;
      background: rgb(248, 248, 248);
      color: rgb(130, 130, 130);
  }
  
  .search-div>input{
      border: none;
      background-color: transparent;
      width: 15vw;
      height: 45px;
  }
  .sign-in{
      background-color: #f94a3d !important;
      font-size: 20px !important;
      border-color: #f94a3d;
  }
  
  a:link {
      font-size: 20px;
      color: #212244;
      background-color: transparent;
      text-decoration: none;
      font-weight: bold;
    }
  
   
  .explore-btns{
      
      position:relative; 
      left:-1470px; top:700px;
  }
  
  .aboutuscontainer{
      
      font-size: 50px;
      justify-content:between;
       align-items:center ;
  
  }
  .content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;

  }
  .content .content-left .info p
    {
        size: 23px;
        line-height: 2 pc;
        margin-bottom: 30px;
        font-family: sans-serif;
        text-align: justify
    }
    .content .content-left .button{
        padding: 10px 23px;
        background-color: #f94a3d;
        color: #feeeec;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    .content-right{
        margin: 30px;
        width: 856px;
        height: 764px;
    }